/* section {
    width: 16.666%;
    height: 275px;
    text-align: center;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
   
    justify-content: space-around;
    float: left;
    background-color: whitesmoke;
    border-radius: 25px;
    margin: auto;
   
  } */
section{
  margin: 10px;
  padding: 30px;
  align-content: center;
  width: 300px;
  max-width: 400px;
  padding: 0 6%; 


 
}
  
  select {
    margin: 25px;
    width: 25%;
    padding: 12.5px;
    border-radius: 10%;
    align-content: center;
    
  }
  
  footer {
    clear: both;
    text-align: center;
  }

 section.allphotos{border:1 px solid whitesmoke;
  display: grid;
 grid-template-columns: 250px 250px 250px;
 grid-column-gap: 80px;
 border-radius: 10px;
 grid-row-gap: 20px;

  
 
  

 }
 .p{
   float: left;
   margin-left: 30px;
   color: whitesmoke;
 }

 .sort{
   float: left;
 }
  
 #keyword{
   float:right ;
   color: darkgreen;
   background-color: whitesmoke;
 }

 #Page2{
   color:whitesmoke;
 
 }

 #Page1{
   color:whitesmoke;
   font-size: 24px;
 }

 /* .allphotos{
  
   flex-wrap: wrap;

 } */

